<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.project.rankers">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <application
        android:allowBackup="true"
        android:name="com.project.rankers.kakao.GlobalApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">


        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="@string/kakao_app_key"/>

        <activity android:name="com.project.rankers.ui.splash.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.project.rankers.ui.login.LoginActivity"
            android:launchMode="singleTop"
            />
        <activity android:name="com.project.rankers.ui.main.MainActivity"/>
        <activity android:name="com.project.rankers.kakao.KakaoSignUpActivity"/>
        <activity android:name="com.project.rankers.ui.register.ContestRegisterActivity" />
        <activity android:name=".ui.personal.writing.WritingPersonalRecordActivity"/>
        <activity android:name=".ui.activity.ResultActivity"/>
        <activity android:name=".ui.competition.CompetitionInfoActivity"/>
        <activity android:name=".ui.activity.ApplyActivity"/>
        <activity android:name=".ui.form.ApplicationFormActivity"/>
        <activity android:name=".ui.activity.OperationActivity"/>
        <activity android:name=".ui.operation.ContestOperationActivity"/>
        <activity android:name=".ui.activity.TournamentActivity"/>
        <activity android:name=".ui.activity.LeagueActivity"/>
        <activity android:name=".ui.activity.ResultContestLeagueActivity"/>

    </application>

</manifest>