<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.project.rankers">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <application
        android:allowBackup="true"
        android:name=".MvvmApp"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="@string/kakao_app_key"/>
        <activity android:name="com.project.rankers.ui.splash.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.project.rankers.ui.login.LoginActivity"
            android:launchMode="singleTop"
            />
        <activity android:name="com.project.rankers.ui.main.MainActivity"/>
        <activity android:name="com.project.rankers.kakao.KakaoSignUpActivity"/>
        <activity android:name="com.project.rankers.ui.contest.contestRegister.ContestRegisterActivity" />
        <activity android:name="com.project.rankers.ui.contest.competition.CompetitionInfoActivity"/>
        <activity android:name="com.project.rankers.ui.contest.apply.ApplyActivity"/>
        <activity android:name="com.project.rankers.ui.contest.form.ApplicationFormActivity"/>
        <activity android:name="com.project.rankers.ui.contest.operator.OperatorActivity"/>
        <activity android:name="com.project.rankers.ui.contest.operation.ContestOperationActivity"/>
        <activity android:name=".ui.match.MatchActivity"/>
        <activity android:name=".ui.record.RecordActivity"/>
        <activity android:name=".ui.register.RegisterActivity"/>
        <activity android:name="com.project.rankers.ui.contest.tournament.TournamentActivity"/>
        <activity android:name="com.project.rankers.ui.contest.tournamentResult.TournamentResultActivity"/>
        <activity android:name="com.project.rankers.ui.contest.league.LeagueActivity"/>
        <activity android:name="com.project.rankers.ui.contest.leagueResult.LeagueResultActivity"/>
        <activity android:name=".ui.contest.contestResult.ContestResultActivity"/>

    </application>

</manifest>